body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  opacity:0.1;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:158px;
  width:254px;
  height:55px;
  font-size:20px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:245px;
  width:254px;
  height:55px;
  font-size:20px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:332px;
  width:254px;
  height:55px;
  font-size:20px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:413px;
  width:254px;
  height:55px;
  font-size:20px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:250px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:158px;
  width:365px;
  height:55px;
  font-size:20px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:361px;
  word-wrap:break-word;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:245px;
  width:365px;
  height:55px;
  font-size:20px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:361px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:332px;
  width:365px;
  height:55px;
  font-size:20px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:361px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:413px;
  width:365px;
  height:55px;
  font-size:20px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:361px;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:28px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:716px;
  width:140px;
  height:40px;
  font-size:28px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:28px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:716px;
  width:140px;
  height:40px;
  font-size:28px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:28px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:716px;
  width:254px;
  height:40px;
  font-size:28px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:250px;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:546px;
  width:583px;
  height:80px;
  font-size:28px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:579px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:546px;
  width:518px;
  height:80px;
  font-size:28px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:514px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1730px;
  height:6px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:1727px;
  height:3px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:108px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:20px;
  width:110px;
  height:108px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:20px;
  width:338px;
  height:108px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:334px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:20px;
  width:533px;
  height:108px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:529px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:138px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:138px;
  opacity:0.2;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
