body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1728px;
  height:2px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:118px;
  width:1727px;
  height:1px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:727px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:118px;
  width:1px;
  height:726px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:118px;
  width:1535px;
  height:726px;
  overflow:hidden;
}
#u47_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:726px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:726px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:725px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:725px;
  opacity:0.1;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:26px;
  width:226px;
  height:51px;
  font-size:14px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:222px;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:120px;
  width:226px;
  height:47px;
  font-size:14px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:222px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:209px;
  width:314px;
  height:55px;
  font-size:14px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:310px;
  word-wrap:break-word;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:309px;
  width:314px;
  height:55px;
  font-size:14px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:310px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:26px;
  width:408px;
  height:51px;
  font-size:14px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:404px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:116px;
  width:453px;
  height:55px;
  font-size:14px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:449px;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:209px;
  width:453px;
  height:55px;
  font-size:14px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:449px;
  word-wrap:break-word;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:309px;
  width:453px;
  height:55px;
  font-size:14px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:449px;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:645px;
  width:175px;
  height:40px;
  font-size:14px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:171px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:413px;
  width:205px;
  height:66px;
  font-size:14px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:201px;
  word-wrap:break-word;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:523px;
  width:314px;
  height:66px;
  font-size:14px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:310px;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1114px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:413px;
  width:1114px;
  height:66px;
  font-size:14px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:523px;
  width:477px;
  height:66px;
  font-size:14px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:726px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:725px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 250, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1536px;
  height:725px;
  opacity:0.1;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:103px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:106px;
  width:305px;
  height:103px;
  font-size:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:301px;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:123px;
  width:428px;
  height:67px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:103px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:263px;
  width:305px;
  height:103px;
  font-size:18px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:301px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:281px;
  width:428px;
  height:67px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:103px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:411px;
  width:380px;
  height:103px;
  font-size:18px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:376px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:430px;
  width:428px;
  height:67px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:59px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:959px;
  top:603px;
  width:287px;
  height:59px;
  font-size:20px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:283px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:93px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 250, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:531px;
  width:382px;
  height:93px;
  color:#FF0000;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:726px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:725px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:725px;
  opacity:0.1;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:232px;
  width:481px;
  height:60px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u73_input:disabled {
  color:grayText;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:79px;
  width:254px;
  height:102px;
  font-size:48px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:250px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:336px;
  width:1302px;
  height:325px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1302px;
  height:325px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u47_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1535px;
  height:726px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:726px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1534px;
  height:726px;
  opacity:0.1;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1271px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:144px;
  width:1271px;
  height:244px;
  font-size:18px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:68px;
  width:1267px;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:418px;
  width:350px;
  height:64px;
  font-size:20px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:39px;
  width:979px;
  height:56px;
  font-size:20px;
  color:#000000;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:975px;
  word-wrap:break-word;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:515px;
  width:350px;
  height:73px;
  font-size:16px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:346px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:638px;
  width:199px;
  height:34px;
  font-size:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:118px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:118px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:28px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:0px;
  width:350px;
  height:105px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:28px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:346px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:29px;
  width:421px;
  height:62px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:417px;
  word-wrap:break-word;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:120px;
  opacity:0.2;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:1565px;
  top:66px;
  width:127px;
  height:35px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:722px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:192px;
  height:722px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:79px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:192px;
  height:79px;
  font-size:20px;
}
#u89_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u89.selected {
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:188px;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:79px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:192px;
  height:79px;
  font-size:20px;
}
#u90_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u90.selected {
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:188px;
  word-wrap:break-word;
}
