body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  opacity:0.1;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:226px;
  width:72px;
  height:31px;
  font-size:16px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:388px;
  width:72px;
  height:31px;
  font-size:16px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:280px;
  width:72px;
  height:31px;
  font-size:16px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:337px;
  width:72px;
  height:31px;
  font-size:16px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:232px;
  width:300px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:286px;
  width:300px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:343px;
  width:300px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:397px;
  width:59px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:225px;
  width:150px;
  height:31px;
  font-size:16px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:231px;
  width:300px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:279px;
  width:150px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:285px;
  width:300px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:336px;
  width:150px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:342px;
  width:300px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:509px;
  width:125px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:515px;
  width:300px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:515px;
  width:150px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:521px;
  width:300px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:585px;
  width:153px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:591px;
  width:300px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:662px;
  width:153px;
  height:31px;
  font-size:16px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:668px;
  width:300px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:736px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:736px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1730px;
  height:5px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:1727px;
  height:2px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:108px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:38px;
  width:110px;
  height:108px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:38px;
  width:338px;
  height:108px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:334px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:38px;
  width:533px;
  height:108px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:529px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:175px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:175px;
  opacity:0.2;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
