body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:262px;
  width:600px;
  height:364px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:2px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:363px;
  width:600px;
  height:1px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:59px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Constantia Bold', 'Constantia';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#006699;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:294px;
  width:304px;
  height:59px;
  font-family:'Constantia Bold', 'Constantia';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#006699;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:399px;
  width:145px;
  height:41px;
  font-size:18px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:450px;
  width:145px;
  height:41px;
  font-size:18px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:501px;
  width:145px;
  height:41px;
  font-size:18px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:407px;
  width:300px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:458px;
  width:300px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:509px;
  width:93px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:501px;
  width:70px;
  height:41px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:562px;
  width:93px;
  height:32px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:562px;
  width:93px;
  height:32px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:82px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:271px;
  width:85px;
  height:82px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
