body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  opacity:0.1;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:224px;
  width:882px;
  height:72px;
}
#u170_input {
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
}
#u170_input:disabled {
  color:grayText;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:347px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:306px;
  width:882px;
  height:347px;
  font-size:36px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:878px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:778px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:882px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:663px;
  width:882px;
  height:68px;
  font-size:28px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:878px;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:778px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:20px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:778px;
  width:140px;
  height:40px;
  font-size:20px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1730px;
  height:5px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:162px;
  width:1727px;
  height:2px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:102px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:35px;
  width:110px;
  height:102px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:35px;
  width:338px;
  height:102px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:334px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:35px;
  width:533px;
  height:102px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:529px;
  word-wrap:break-word;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:165px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:165px;
  opacity:0.2;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
