body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:844px;
  opacity:0.1;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:118px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:288px;
  width:343px;
  height:118px;
  font-size:36px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:339px;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:309px;
  width:483px;
  height:77px;
}
#u183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:77px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:118px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:406px;
  width:343px;
  height:118px;
  font-size:36px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:339px;
  word-wrap:break-word;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:427px;
  width:483px;
  height:77px;
}
#u185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:77px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:118px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:534px;
  width:343px;
  height:118px;
  font-size:36px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:339px;
  word-wrap:break-word;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:555px;
  width:483px;
  height:77px;
}
#u187_input {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:77px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:69px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:696px;
  width:324px;
  height:69px;
  font-size:36px;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:69px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:36px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:696px;
  width:324px;
  height:69px;
  font-size:36px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1730px;
  height:5px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:1727px;
  height:2px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:108px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:38px;
  width:110px;
  height:108px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:38px;
  width:338px;
  height:108px;
  font-family:'Cooper Black Oblique', 'Cooper';
  font-weight:900;
  font-style:oblique;
  font-size:48px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:334px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:38px;
  width:533px;
  height:108px;
  font-family:'Cooper Black', 'Cooper';
  font-weight:900;
  font-style:normal;
  font-size:36px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:529px;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:175px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1727px;
  height:175px;
  opacity:0.2;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
